*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.dflex{
  display: flex;
}
.fcol{
  display: flex;
  flex-direction: column;
}
.jcc-aic{
  justify-content: center;
  align-items: center;
}
.jsb-aic{
  justify-content: space-between;
  align-items: center;

}